.paragraph {
    display: flex;
    font-size: 2rem;
    line-height: 1;
    padding: 2rem;
    max-width: 760px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Kode Mono", monospace;
}

.paragraph .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
}

.paragraph .word .shadow {
    position: absolute;
    opacity: 20%;
}

@media screen and (max-width: 768px) {
    .paragraph {
        font-size: 20px;
    }

}