@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Gudea:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */


:root {
    --glow-color: hsl(186 100% 69%);

    --primary: #42331e;
    --primary-content: #cdb492;
    --primary-dark: #1f180e;
    --primary-light: #654e2e;

    --secondary: #1e4221;
    --secondary-content: #92cd97;
    --secondary-dark: #0e1f0f;
    --secondary-light: #2e6533;

    --background: #f3f0ed;
    --foreground: #fcfbfa;
    --border: #e5e0d9;

    --copy: #2e281f;
    --copy-light: #7a6952;
    --copy-lighter: #a39075;

    --success: #1e421e;
    --warning: #42421e;
    --error: #421e1e;
    --success-content: #92cd92;
    --warning-content: #cdcd92;
    --error-content: #cd9292;

    /* scroll-behavior: smooth; */

      
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  /* .kode-mono-<uniquifier> {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  .kode-mono-regular {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  
  